.Number {
    font-size: 75px;
    color: #ffffff;
    font-weight: 300;
    line-height: 78.82px;
    margin-left: 10px;
}
.Sup {
    line-height: 78.82px;
    font-size: 50px;
   
}
.SupSmall {
    font-size: 20px;
}
.InLine {
    display: inline-block;
}
.Paragraph {
    height: 16px;
    color: #ffffff;
    font-size: 18px;
    line-height: 46.92px;
    font-weight: 300;
    margin-left: 10px;
}
.ParagraphNoMargin {
    height: 16px;
    color: #ffffff;
    font-size: 18px;
    line-height: 46.92px;
    font-weight: 300;
}
.Vertical {
    vertical-align: baseline !important;
    margin-bottom: 50px;
}
.BorderRight {
    border-right: 1px solid #fff;

   }
.Center {
text-align:center;
}
.CelsiusPargraph {
    text-shadow: 0 3px 6px rgba(27, 69, 131, 0.19);
    color: #ffffff;
    font-size: 31px;
    font-weight: 300;
    line-height: 28.06px;
    margin-top: 10px;
}
.Style {
    background-color:"#ffc43c";
}